01_*/

02_*/
02_*/latihan*.py
02_*/challenge*.py
02_*/tugas*.py

03_*/
03_*/latihan*.py
03_*/challenge*.py
03_*/tugas*.py

04_*/
04_*/latihan*.py
04_*/challenge*.py
04_*/tugas*.py

05_*/
05_*/latihan*.py
05_*/challenge*.py
05_*/tugas*.py

06_*/
06_*/latihan*.py
06_*/challenge*.py
06_*/tugas*.py

07_*/

08_*/
08_*/latihan*.py
08_*/challenge*.py
08_*/tugas*.py

09_*/
09_*/latihan*.py
09_*/challenge*.py
09_*/tugas*.py

10_*/
10_*/latihan*.py
10_*/challenge*.py
10_*/tugas*.py

11_*/
11_*/latihan*.py
11_*/challenge*.py
11_*/tugas*.py

12_*/
12_*/latihan*.py
12_*/challenge*.py
12_*/tugas*.py

13_*/
14_*/

venv/
env/
*.env
.env
*.pyc
*/__pycache__/*
__pycache__/*